CLICKHOUSE_HOST=localhost
CLICKHOUSE_PORT=8123
CLICKHOUSE_USER=tiders_user
CLICKHOUSE_PASSWORD=tiders_password
CLICKHOUSE_DB=tiders
EVIDENCE_SOURCE__clickhouse__password=tiders_password

PG_HOST=localhost
PG_PORT=5432
PG_USER=tiders_user
PG_PASSWORD=tiders_password
PG_DB=tiders
EVIDENCE_SOURCE__pg__password=tiders_password