CLICKHOUSE_HOST=localhost
CLICKHOUSE_PORT=8123
CLICKHOUSE_USER=yulesa
CLICKHOUSE_PASSWORD=localdev123
CLICKHOUSE_DB=tiders

PG_HOST=localhost
PG_PORT=5432
PG_USER=yulesa
PG_PASSWORD=localdev123
PG_DB=tiders