POSTGRES_USER=postgres
POSTGRES_PASSWORD=secret
POSTGRES_DB=tiders
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

CLICKHOUSE_HOST=localhost
CLICKHOUSE_PORT=8123
CLICKHOUSE_USER=default
CLICKHOUSE_PASSWORD=default
CLICKHOUSE_DATABASE=default
CLICKHOUSE_SECURE=false